img {
  width: auto;
  max-width: 100%;
  height: 100%;
  display: block;
}
.background {
  padding-top: 30px;
  color: var(--pale-blue);
  display: grid;
  /* grid-column: 250px 1fr; */
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.workImg {
  position: absolute;
  overflow: hidden;
  height: 30%;
  right: 16px;
}
.workImg img {
  overflow: hidden;
  transform: translateY(-15%);
}
.statusInfo {
  background-color: var(--dark-blue);
  padding: 16px;
  cursor: pointer;
  border-radius: 8px;
  z-index: 10;
  position: relative;
}
.statusHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statusTime {
  margin: 12px 0;
}
.statusTime h2 {
  font-size: 40px;
  margin-bottom: 8px;
}
.icon {
  width: 16px;
}
